<form name="recover" class="auth" method="POST" action="/recover">
    <div>
        <div class="control-group">
            <input type="text" id="inputEmail" placeholder="Email" name="email" value="<%=fieldValue('email')%>">      
        </div>
        <br/>
        <button type="submit" class="btn btn" style="padding-left:40px; padding-right:40px;">Recover password</button>
    </div>
</form>
<div >
  <hr>
  <a class="pull-right" href="/login">Login</a>
</div>