<!DOCTYPE html>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<html>
    <head>
        <title><%= appTitle %> - home</title>

        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body style="text-align:center;">
        <br/>

        <h2>Home page - requires user authentication</h2>

        <br/><br/>
        <p>User is authenticated, <a href="/logout">Click here to logout</a></p>
    </body>
</html>
