<!DOCTYPE html>
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<html>
    <head>
        <title><%= appTitle %> - home</title>

        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body style="text-align:center;">
        <br/>

        <h2>Public page, does not require user authentication...</h2>

        <br/><br/>
        <p><a href="/login">Click here to login</a></p>
    </body>
</html>
